Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

PIMA Diabetes Dataset

In [ ]:
# load the diabetes dataset to a pandas DataFrame
#Write your code here

In [ ]:
# print the first 5 rows of the dataset
#Write your code here

In [ ]:
# number of rows and Columns in this dataset
diabetes_dataset.shape

In [ ]:
# display the statistical measures of the data
#Write your code here

In [ ]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 --> Non-Diabetic

1 --> Diabetic

In [ ]:
diabetes_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [ ]:
# separatethe data and labels into X,Y respectively
#Write your code here

In [ ]:
print(X)

In [ ]:
print(Y)

Data Standardization

In [ ]:
#Standardize X,Y
#Write your code here

In [ ]:
print(standardized_data)

In [ ]:
X = standardized_data
Y = diabetes_dataset['Outcome']

In [ ]:
print(X)
print(Y)

**SPLIT THE DATA INTO TRAINING DATA & TESTING DATA [80:20]**

In [ ]:
#Write your code here